@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    box-sizing: border-box;}
body{
 background: url(img/montaña.jpg);
 background-repeat: no-repeat;
 background-size:cover;
}
div{
font-family: 'Roboto', sans-serif;
font-size: 15px;
margin: 100px 84px;
border: 2.5px solid;
border-radius: 50px;
width: 250px;
height: 400px;
padding: 10px;
text-align: center;
float: left;
background-color: rgba(176, 0, 0, 0.756);
}
h3{
    text-decoration:underline;
}
p{
    color: rgb(255, 221, 0);
}
.imagen1{
    width: 50%;
    border-radius: 100px;
    border: 1px solid;
}
.imagen2{
   width: 100%;
   height: 210px;
   border-radius: 40px;
}
.imagen3{
    width: 100%;
    height: 210px;
    border-radius: 50px;
}
input{
    color: rgb(0, 102, 255)   
}